#SDL Libary
lib/SDL
lib/sdl_image
lib/sdl_ttf
.DS_Store
#Doxygen generated docs
html/
latex/
build/
# IDE and editor temporary files
# Vim swapfiles
*.swp
#Emacs swapfile?
*.swo
# XCode project files
*.xcodeproj/
*HelloSDL/
*StarRepub/*
*SDLMain.*
# VS Proj files
*.vcxproj
*.vcxproj*
*Debug/
*ipch/
*.sdf
*.suo
*.opensdf
*.sln
#Scons temp files
.sconsign.dblite
#Other Temp
*.tmp
*~
